Individual Portion of Group Project
Name: Adam Abdirahman Hassan
Student #: 50638824

Part 1: Data Description

Players data set: # Number of Observations = 196  # Number of Variables = 9

Names of Variables = "experience", "subscribe", "hashedEmail", "played_hours", "name", "gender", "age", "individualID", and "organizationName"

Type of the Variables =  character (chr) variable type, logicals (lgl) variable type, and double (dbl) variable type

Meaning of the Variables:
Experience = This relates to the competency of the player in relation to their minecraft skills

Subscribe = This relates to whether a participant of the study has signed up for PlaiCraft's email updates

hashedEmail = This is the email of the participants but it has been scrambled to protect the users private information

played_hours = The total amount of hours that someone has played on the server

name = This is the name (not real life name) of the user

gender = The reported gender of a user

age = The age of the user

IndividualID = 

organizationName = 


Sessions data set: # Number of Observations = 1535  # Number of Variables = 5

Names of Variables = "hashedEmail",	"start_time	end_time",	"original_start_time",	"original_end_time"

Types of Variables =  character (chr) variable type and double (dbl) variable type

Meaning of the Variables:
hashedEmail = This is the email of the participants but it has been scrambled to protect the users private information

In [6]:
#Preparing necessary pacakges to load in the plaicraft data
library(tidyverse)
library(repr)

#Limiting the Number of rows displayed by the tables to just 6
options(repr.matrix.max.rows = 6)

#Reading in the data for plaicraft
players_data<- read_csv("data/players.csv")
players_data

sessions_data<- read_csv("data/sessions.csv")
sessions_data

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            age individualId organizationName
1   30.3         Morgan    Male               9  NA           NA
2    3.8         Christian Male              17  NA           NA
3    0.0         Blake     Male              17  NA           NA
⋮   ⋮            ⋮         ⋮                 ⋮   ⋮            ⋮
194 0.0          Dylan     Prefer not to say 17  NA           NA
195 2.3          Harlow    Male              17  NA           NA
196 0.2          Ahmed     Other             91  NA           NA

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     hashedEmail
1    bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2    36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3    f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
⋮    ⋮
1533 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1534 fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33cbb5e894a3867ca44d
1535 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
     start_time       end_time         original_start_time original_end_time
1    30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2    17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3    25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
⋮    ⋮                ⋮                ⋮                   ⋮
1533 28/07/2024 15:36 28/07/2024 15:57 1.72218e+12         1.72218e+12
1534 25/07/2024 06:15 25/07/2024 06:22 1.72189e+12         1.72189e+12
1535 20/05/2024 02:26 20/05/2024 02:45 1.71617e+12         1.71617e+12